<div class="page">
    <div class="actions">
        <p-button label="Yeni versiya" icon="pi pi-plus" (onClick)="goToCreatePage()"/>
    </div>
    <div class="table-wrapper">
        <div class="table-name">
            <span>Versiyalar</span>
            @if(tableLoader){
            <i class="pi pi-spin pi-spinner indicator"></i>
            }
        </div>
        @if(versionsPageable!=null){
        <p-table [value]="versionsPageable.datas">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Versiya</th>
                    <th>Token</th>
                    <th>Əməliyyat sistemləri</th>
                    <th>Yaradılma tarixi</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr>
                    <td>{{data.id}}</td>
                    <td class="highlight-primary">{{data.number}}</td>
                    <td>{{data.token}}</td>
                    <td>
                        @for ( versionOperationSystem of data.versionOperationSystems; track $index) {
                        <span>{{versionOperationSystem.operationSystem.name}} </span>
                        }
                    </td>
                    <td>{{data.createDate | date}}</td>
                    <td>
                        <p-button icon="pi pi-angle-right" label="Detallı bax" size="small" iconPos="right" />
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-paginator (onPageChange)="onPageChange($event)" [first]="versionsPageable.index-1"
            [rows]="versionsPageable.size" [totalRecords]="versionsPageable.total"
            [rowsPerPageOptions]="perPageOptions" />
        }
    </div>
</div>