.page {
  width: 100%;
  height: 100vh;
  background: rgb(5, 44, 81);
  background: radial-gradient(
    circle,
    rgba(5, 44, 81, 1) 38%,
    rgba(14, 64, 143, 1) 217%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
    
  .logo{
    //background-color: aqua;
    width: 200px;
    height: 200px;
    flex:0.7,
  }
  
  .input-side{
    display: flex;
    flex: 1;


    .input{
      height: 10px;
    }


  }


}


