<div class="page">

  <div class="left">
    <img src="assets/logos/brand-logo-with-name.svg">
  </div>
  <div class="right">
    <div class="login-side">
      <div class="label">Log in</div> 
      <p-floatLabel class="w-full">
        <input type="password" pInputText id="secret-key"  [(ngModel)]="secretKey" />
        <label for="secret-key">Secret key</label>
    </p-floatLabel>
    <p-button [loading]="enableLoader"  label="Login" [raised]="true" class="w-full" (onClick)="login()"/>
    </div>
  </div>

</div>    