$primary600: rgb(21, 112, 239);
$primary25 : rgb(245, 250, 255);
$primary50 : rgb(239, 248, 255);
$primary100 : rgb(209, 233, 255);
$primary300 : rgb(132, 202, 255);
$primary500 : rgb(46, 144, 250);
$primary700 : rgb(23, 92, 211);
$primary800 : rgb(24, 73, 169);
$primary900 : rgb(25, 65, 133);
$primary950 : rgb(16, 42, 86);