@import './colors.scss';

p-floatLabel.w-full {
    width: 100%;

    input {
        width: 100%;
    }
}

p-button.w-full {
    width: 100%;

    button {
     width: 100%;
    }
}

p-paginator{
    button{
        border-radius: 12px;
        color: $dark800;

        &.p-highlight{
            font-weight: bold;
        }
    }

}

