/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Inter";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter.ttf") format("truetype");
  }
  
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "../src/styles/primeng-customization.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
