<div class="page">
    <div class="table-wrapper"> 
        <p-table [value]="versionsPageable.datas">
            <ng-template>
                <tr>
                    <th>Id</th>
                    <th>Versiya</th>
                    <th>Token</th>
                    <th>Əməliyyat sistemləri</th>
                    <th>Yaradılma tarixi</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr>
                    <td>{{data.id}}</td>
                    <td>{{data.number}}</td>
                    <td>{{data.token}}</td>
                    <td>
                        @for ( versionOperationSystem of data.versionOperationSystems; track $index) {
                        <span>{{versionOperationSystem.operationSystem.name}} </span>
                        }
                    </td>
                    <td>{{data.createDate | date}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>